<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Workout</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="bottom">
  <%- include('header'); %>
    <div id="background-exercises"></div>
    
    <div id="sec3" class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/exercises">Exercises</a></li>
              <li class="breadcrumb-item"><a href="/accessories">Accessories</a></li>
              <li class="breadcrumb-item active" aria-current="page"><%=lift%> Accessories</li>
            </ol>
        </nav>
        <h1 class="display-4 text-center pad"><%=lift%> Accessories</h1>
        <%for(var i=0; i<exercise.length; i++){%>
        <div class="media pad pad2">
            <img src=<%=exercise[i].img%>  class="align-self-center" width="350px">
            <div class="media-body align-self-center">
                <h2 class="text-center"><%=exercise[i].name%></h2>
                <br>
                <div class="row">
                  <div class="col-5">
                    <p><span class="b">Why it helps:</span> <%=exercise[i].why%></p>
                  </div>
                  <div class="col-7">
                    <p><span class="b">Problem:</span> <%=exercise[i].problem%></p>
                    <p><span class="b">Weight:</span><%=exercise[i].weight%></p>
                    <p><span class="b">Sets & Reps:</span><%=exercise[i].set%></p>
                  </div>
                </div>
                <button type="button" class="btn offset-5 discover" data-toggle="modal" data-target="#myModal-<%=i%>">Discover</button>
            </div>
          </div>
          <div id="myModal-<%=i%>" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%=exercise[i].name%></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                    <p><%=exercise[i].desc%></p>
                    <div class="pad row offset-3 col-6 align-items-end">
                      <p class="b">Download Spreadsheet:</p>
                      <a href="<%=exercise[i].link%>"><img src="/images/spreadsheet-2127832_640.png" width=70></a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <%};%>
    </div>
</body>
</html>