<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Workout</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="bottom">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light nav-p">
      <a class="navbar-brand" id="powerProgram" href="/">
        <img src="images/powerProgram.png" width=50 class="d-inline-block align-self-center" alt="">
        POWER PROGRAM
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/workout">Workout Programs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/exercises">Exercises</a>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
              </li>
            </ul>
          </div>
    </nav>
    <div id="background-mypage"></div>
  <div class="container">
    <%if (workout.length == 0){%>
      <div class="row text-center pad">
        <h1 class="display-4 col-12">You do not have any favourite workout program yet.</h1>
    </div>
    <%}else{%>
    <div class="row text-center pad">
      <%if(add != undefined){%>
        <h1 class="display-3 col-12">Select your favourite workouts</h1>
      <%}else{%>
        <h1 class="display-3 col-12">Your Workouts</h1>
      <%}%>
    </div>
    <form action="/workouts" method="POST">
      <%for(var i=0; i<workout.length; i++){%>
      <div class="media pad pad2">
        <%if(add != undefined){
          var hidden = "display: none;";
          var display = "display: inline-block;";
          %>
        <input name="workout" type="checkbox" class="align-self-center check" value="<%=workout[i]._id%>">
        <img src=<%=workout[i].img%>  class="align-self-center" width="350px">
        <%}else{%>
        <img src=<%=workout[i].img%>  class="align-self-center" width="350px">
        <%}%>
        <div class="media-body align-self-center">
            <h2 class="text-center"><%=workout[i].name%></h2>
            <div id="flex">
              <div>
                <p>Target lift: <span class="lift"><%=workout[i].lift%></span></p>
                <p>Workout goal: <%=workout[i].goal%></p>
                <p>Duration: <%=workout[i].duration%> weeks </p>
              </div>
              <div>
                <p>Days per week: <%=workout[i].day%></p>
                <p >Experience Level:</p>
                <div class="progress" style="width: 40%;">
                  <div class="progress-bar <%=workout[i].color%>" role="progressbar" style="width:<%=workout[i].experience%>%;" aria-valuenow="<%=workout[i].experience%>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <button type="button" class="btn offset-5 discover" data-toggle="modal" data-target="#myModal-<%=i%>">Discover</button>
        </div>
      </div>

      <div id="myModal-<%=i%>" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><%=workout[i].name%></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
                <p><%=workout[i].desc%></p>
                <div class="pad row offset-3 col-6 align-items-end">
                  <p class="b">Download Spreadsheet:</p>
                  <a href="<%=workout[i].link%>"><img src="/images/spreadsheet-2127832_640.png" width=70></a>
                </div>
              </div>
          </div>
        </div>
      </div>
      <%}
      }%>
      <div class="media-body text-center pad">
          <a href="/yourworkouts?add=true" class="btn btn-dark" style="<%=hidden%>">Add Workouts</a>
      </div>
      <button type="submit" class="btn btn-dark" style="<%=display%>">Add workouts to favourites</button>
    </form>
  </div>
</body>
</html>